@use "globals/variables" as *;
.visible-pc{
    display: none;
    @media screen and (min-width:$breakpoint) {
        display: block;
    }
}
header{
    height: 117px;
    padding: 0 30px;
    @media screen and (min-width:$breakpoint) {
        height: 151px;
        max-width: $contentMaxWidth;
        margin: 0 auto;
    }

    & .head{
        display: flex;
        justify-content: center;
        padding-top: 26px;
        margin-bottom: 21px;
        @media screen and (min-width:$breakpoint) {
            justify-content: space-between;
            padding-top: 35px;
            margin-bottom: 35px;
        }

        & h1{

            & .logo{
                height: 34px;
                @media screen and (min-width:$breakpoint) {
                    height: 45px;
                }
            }
        }

        & .staff{
            position: relative;
            padding: 12px 81px;
            background-color: $cGreen;
            border-radius: 12px;
            font-size: 13px;
            font-weight: bold;
            color: $cWhite;
            &::before{
                content: '';
                position: absolute;
                top: 3px;
                left: 3px;
                width: 234px;
                height: 39px;
                border: 1px solid $cWhite;
                border-radius: 12px;
            }
        }
    }

    & .page-nav{
        
        & p{
            display: inline;
            font-size: 11px;
            color: $cBlack;
            & a{
                text-decoration: none;
                color: $cLink;
            }
        }
    }
}

main{
    & .mainvisual{
        & .mv{
            width: 100%;
            @media screen and (min-width:$breakpoint) {
                height: 500px;
                object-fit: cover;
            }
        }
    }
    
    & .introduction{
        margin: 43px 0 83px 0;
        padding: 0 30px;
        @media screen and (min-width:$breakpoint) {
            max-width: $contentMaxWidth;
            margin: 69px auto 126px auto;
        }

        & h2{
            font-size: 24px;
            font-weight: bold;
            color: $cBlack;
            margin-bottom: 24px;
            @media screen and (min-width:$breakpoint) {
                font-size: 36px;
                margin-bottom: 28px;
            }
        }

        &__lead{
            font-size: 13px;
            color: $cBlack;
            margin-bottom: 83px;
            @media screen and (min-width:$breakpoint) {
                margin-bottom: 98px;
            }
        }

        &__container{
            list-style: none;
            padding-left: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0 24px 83px 24px;
            @media screen and (min-width:$breakpoint) {
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-bottom: 65px;
            }

            & .item{
                margin-bottom: 36px;
                &:last-child{
                    margin-bottom: 0;
                }
                @media screen and (min-width:$breakpoint) {
                    width: 28%;
                    margin-bottom: 72px;
                    &:nth-child(n+4){
                        margin-bottom: 0;
                    }
                }

                &.new{
                    & .item__name{
                        &::before{
                            content: 'NEW';
                            position: absolute;
                            top: -24px;
                            left: -24px;
                            padding: 7px 0 7px 3.5px;
                            width: 24px;
                            height: 24px;
                            background-color: $cYellow;
                            border-radius: 50%;
                            font-size: 7px;
                        }
                    }

                }

                &__img{
                    width: 84%;
                    max-width: 210px;
                    border-radius: 50%;
                    border: 10px solid $cBorder;
                    margin: 0 auto 37px auto;
                }

                &__name{
                    font-size: 16px;
                    font-weight: bold;
                    color: $cBlack;
                    margin-bottom: 3px;
                    position: relative;
                }

                &__date{
                    font-size: 11px;
                    color: $cBlack;
                    margin-bottom: 8px;
                }

                &__interview{
                    font-size: 13px;
                    color: $cBlack;
                    margin-bottom: 13px;
                }

                &__next{
                    position: relative;
                    font-size: 13px;
                    text-decoration: none;
                    color: $cBlack;
                    &::before{
                        content: '';
                        position: absolute;
                        bottom: 6px;
                        left: 72px;
                        width: 25.5px;
                        height: 1px;
                        background-color: $cArrow;
                    }
                    &::after{
                        content: '';
                        position: absolute;
                        bottom: 6px;
                        left: 88px;
                        width: 9px;
                        height: 1px;
                        transform: rotate(35deg);
                        transform-origin: right;
                        background-color: $cArrow;
                    }
                }
            }
        }

        &__next{
            position: relative;
            width: 240px;
            height: 44px;
            background-color: $cGreen;
            color: $cWhite;
            border-radius: 12px;
            font-size: 13px;
            padding: 12px 0 12px 44px;
            margin: 0 auto;
            &::before{
                content: '';
                position: absolute;
                bottom: 22px;
                right: 32px;
                width: 25.5px;
                height: 1px;
                background-color: $cWhite;
            }
            &::after{
                content: '';
                position: absolute;
                bottom: 22px;
                right: 32px;
                width: 9px;
                height: 1px;
                transform: rotate(35deg);
                transform-origin: right;
                background-color: $cWhite;
            }
        }
    }

    & .banner{
        @media screen and (min-width:$breakpoint) {
            max-width: $contentMaxWidth;
            margin: 0 auto 48px auto;
            list-style: none;
            padding: 0 30px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            &::before{
                content: '';
                display: block;
                width: 21.5%;
                order: 1;
            }

            &::after{
                content: '';
                display: block;
                width: 21.5%;
            }
    
            &__item{
                width: 21.5%;
                margin-bottom: 26px;
                &:nth-child(n+4){
                    margin-bottom: 0;
                }
            }
        }
    }
}