.visible-pc {
  display: none;
}
@media screen and (min-width: 720px) {
  .visible-pc {
    display: block;
  }
}

header {
  height: 117px;
  padding: 0 30px;
}
@media screen and (min-width: 720px) {
  header {
    height: 151px;
    max-width: 1080px;
    margin: 0 auto;
  }
}
header .head {
  display: flex;
  justify-content: center;
  padding-top: 26px;
  margin-bottom: 21px;
}
@media screen and (min-width: 720px) {
  header .head {
    justify-content: space-between;
    padding-top: 35px;
    margin-bottom: 35px;
  }
}
header .head h1 .logo {
  height: 34px;
}
@media screen and (min-width: 720px) {
  header .head h1 .logo {
    height: 45px;
  }
}
header .head .staff {
  position: relative;
  padding: 12px 81px;
  background-color: #1DDB07;
  border-radius: 12px;
  font-size: 13px;
  font-weight: bold;
  color: white;
}
header .head .staff::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 234px;
  height: 39px;
  border: 1px solid white;
  border-radius: 12px;
}
header .page-nav p {
  display: inline;
  font-size: 11px;
  color: #333333;
}
header .page-nav p a {
  text-decoration: none;
  color: #1558D6;
}

main .mainvisual .mv {
  width: 100%;
}
@media screen and (min-width: 720px) {
  main .mainvisual .mv {
    height: 500px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
main .introduction {
  margin: 43px 0 83px 0;
  padding: 0 30px;
}
@media screen and (min-width: 720px) {
  main .introduction {
    max-width: 1080px;
    margin: 69px auto 126px auto;
  }
}
main .introduction h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 24px;
}
@media screen and (min-width: 720px) {
  main .introduction h2 {
    font-size: 36px;
    margin-bottom: 28px;
  }
}
main .introduction__lead {
  font-size: 13px;
  color: #333333;
  margin-bottom: 83px;
}
@media screen and (min-width: 720px) {
  main .introduction__lead {
    margin-bottom: 98px;
  }
}
main .introduction__container {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 24px 83px 24px;
}
@media screen and (min-width: 720px) {
  main .introduction__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 65px;
  }
}
main .introduction__container .item {
  margin-bottom: 36px;
}
main .introduction__container .item:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 720px) {
  main .introduction__container .item {
    width: 28%;
    margin-bottom: 72px;
  }
  main .introduction__container .item:nth-child(n+4) {
    margin-bottom: 0;
  }
}
main .introduction__container .item.new .item__name::before {
  content: "NEW";
  position: absolute;
  top: -24px;
  left: -24px;
  padding: 7px 0 7px 3.5px;
  width: 24px;
  height: 24px;
  background-color: #FFF100;
  border-radius: 50%;
  font-size: 7px;
}
main .introduction__container .item__img {
  width: 84%;
  max-width: 210px;
  border-radius: 50%;
  border: 10px solid #F1F1F1;
  margin: 0 auto 37px auto;
}
main .introduction__container .item__name {
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 3px;
  position: relative;
}
main .introduction__container .item__date {
  font-size: 11px;
  color: #333333;
  margin-bottom: 8px;
}
main .introduction__container .item__interview {
  font-size: 13px;
  color: #333333;
  margin-bottom: 13px;
}
main .introduction__container .item__next {
  position: relative;
  font-size: 13px;
  text-decoration: none;
  color: #333333;
}
main .introduction__container .item__next::before {
  content: "";
  position: absolute;
  bottom: 6px;
  left: 72px;
  width: 25.5px;
  height: 1px;
  background-color: #707070;
}
main .introduction__container .item__next::after {
  content: "";
  position: absolute;
  bottom: 6px;
  left: 88px;
  width: 9px;
  height: 1px;
  transform: rotate(35deg);
  transform-origin: right;
  background-color: #707070;
}
main .introduction__next {
  position: relative;
  width: 240px;
  height: 44px;
  background-color: #1DDB07;
  color: white;
  border-radius: 12px;
  font-size: 13px;
  padding: 12px 0 12px 44px;
  margin: 0 auto;
}
main .introduction__next::before {
  content: "";
  position: absolute;
  bottom: 22px;
  right: 32px;
  width: 25.5px;
  height: 1px;
  background-color: white;
}
main .introduction__next::after {
  content: "";
  position: absolute;
  bottom: 22px;
  right: 32px;
  width: 9px;
  height: 1px;
  transform: rotate(35deg);
  transform-origin: right;
  background-color: white;
}
@media screen and (min-width: 720px) {
  main .banner {
    max-width: 1080px;
    margin: 0 auto 48px auto;
    list-style: none;
    padding: 0 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  main .banner::before {
    content: "";
    display: block;
    width: 21.5%;
    order: 1;
  }
  main .banner::after {
    content: "";
    display: block;
    width: 21.5%;
  }
  main .banner__item {
    width: 21.5%;
    margin-bottom: 26px;
  }
  main .banner__item:nth-child(n+4) {
    margin-bottom: 0;
  }
}/*# sourceMappingURL=style.css.map */