@use "../globals/variables" as *;
@use "../parts/common" as *;

main{
    & .stafflist{
        margin-top: 26px;
        margin-bottom: 113px;
        @media screen and (min-width:$breakpoint) {
            margin-top: 51px;
            margin-bottom: 111px;
        }
        & h2{
            margin-bottom: 43px;
            @media screen and (min-width:$breakpoint) {
                margin-bottom: 82px;
            }
        }
    
        &__container{
            margin-bottom: 119px;
            @media screen and (min-width:$breakpoint) {
                margin-bottom: 104px;
            }
        }
    }


}